@model GetPortfolioAboutMeDto

<section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-5 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay"></div>
                    <div class="img d-flex align-self-stretch align-items-center" style="background-image: url('@Url.Content(Model.Image)');">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
                <div class="row justify-content-start pb-3">
                    <div class="col-md-12 heading-section ftco-animate">
                        <h1 class="big">Hakkımda</h1>
                        <h2 class="mb-4">@Model.Title</h2>  <!-- description ilerde paragraf olarak eklenecek-->
                        <p>@Model.Description</p>
                        <ul class="about-info mt-4 px-md-0 px-2">
                            <li class="d-flex"><span>Ad Soyad:</span> <span>@Model.NameSurname</span></li>
                            <li class="d-flex"><span>Doğum Tarihi</span> <span>@Model.DateOfBirth</span></li>
                            <li class="d-flex"><span>Adres</span> <span>@Model.Address</span></li>
                            <li class="d-flex"><span>Email:</span> <span>@Model.Email</span></li>
                            <li class="d-flex"><span>Telefon: </span> <span>@Model.Phone</span></li>
                        </ul>
                    </div>
                </div>
                <div class="counter-wrap ftco-animate d-flex mt-md-3">
                    <div class="text">
                        @*<p class="mb-4">
                            <span class="number" data-number="120">0</span>
                            <span>Projede Görev Alındı</span>
                        </p>*@
                        <p><a href="@Model.ButtonHref" class="btn btn-primary py-3 px-3">@Model.ButtonName</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>